---
layout: page
---

<div id="archives">

  <header class="post-header">
     <h1 class="post-title">Latest posts</h1>
  </header>

{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] limit: 1 %}
    <article class="archive-item">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
